body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #333;
    background-color: #0056b3;
    margin-top: 0; 
    padding-top: 20px;
    padding-bottom: 20px; 
    margin-bottom: 0;
}

form {
    background-color: #0056b3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

select {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: calc(100% - 22px); /* Adjust width based on padding */
    box-sizing: border-box; /* Include padding and border in element's width */
}

button {
    background-color: #fff;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#activityResult {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
